################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolicitorCRMApp/.vs/SolicitorCRMApp
/SolicitorCRMApp/bin/Debug/net8.0
/SolicitorCRMApp/obj
/SolicitorCRMApp/Properties
