@{
    Layout = "_Layout";
}

<section class="hero">
    <h1>Welcome to Solicitor CRM</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    </p>
</section>
